@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased;
}

button {
  @apply transition-all duration-200;
}

input {
  @apply focus:outline-none focus:ring-2 focus:ring-tata-blue/50;
}
